html, 
body{
    height: 100%;
    width: 100%;
}

div{
  background-color: #343349;
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  color: aliceblue;
}

p{
  font-family: Manrope;
  letter-spacing: 0.5px;
}

.mini-title{
  margin-bottom: -5px;
  font-size: 15px;
}

.content{
  flex-direction: column;
}

.picture{
  align-items: center;
}

img{
  width: 71%;
}

h1{
  font-family: DM Serif Display;
}

span{
  color: yellow;
}